/* ==========================================================================
   Monum Theme
   ========================================================================== */
body {
  &.cookie-bar {
    margin-top:30px;
    @media only screen and (min-width: 750px) {
      margin-top:15px;
    }
  }
}

/* Header
-------------------------------------------------------------- */
#header {
	#logo {
		display:block;
		float:none;
		margin:0;
		img {
  		//width:270px; // must match actual width of logo divided by 2 for retina
    }
	}
	hgroup {
		display:block;
	}
	.site-description {
	 	width:221px;
	 	margin:10px 0;
	 	color:@grey;
	 	font-family:inherit;
	 	font-style:normal;
	 	font-size: 0.8em;
	 	font-weight:400;
	 	letter-spacing:0.1em;
	 	text-transform:uppercase;
	 	text-align:right;
	 	@media only screen and (max-width: 400px) {
  	 	text-align:left;
  	 	max-width:100%;
  	 	width:auto;
  	 	letter-spacing:0;
	 	}
	 	+ .nav.cart {
  	 	@media only screen and (max-width: 800px) {
       margin-top:0;
  	 	} 
	 	}
  }
  .cart-contents {
    color:lighten(@color_links, 10%) !important;
    &:hover {
      color:darken(@color_links, 5%) !important;
    }
    &:before {
      .icon();
      content: "\e602";
      font-size: 27px;
      padding: 0.4em;
      line-height: 0.85; // Optical center correction
    }
    span.price {
      font-weight: 400;
      margin-top: 0.15em !important;
    }
    span.contents {text-transform:none;}
    &.filled {
      color:@mauvegrey !important;
      &:hover {
        color:darken(@mauvegrey, 5%) !important;
      }
      &::before {
        background-color:@mauvegrey !important;
      	&:hover {
      		background:darken(@mauvegrey, 5%) !important;
      	}
      }	
    }
  }
  .nav-toggle {
    a {
      font-weight:400;
    }
  }
}


/* Navigation
-------------------------------------------------------------- */
#navigation {
  #main-nav {
    width:95.8333%;
    @media only screen and (max-width: 800px) {
      width:100%;
    }
    > li { 
      > a {
        font-weight:400;
        @media only screen and (max-width: 800px) {
          padding:0.5em 1.618em;
        }
        &:hover,
        &:focus {
          color:@mauvegrey;
        }
        .grey {
          padding-left:0.5em;
          color:@mauvegrey;
        }
      }
      &.current_page_item,
      &.current_page_parent,
      &.current-cat,
      &.current-menu-item {
        > a {
          .inset_box_shadow(0, .207em, 0, 0, @mauvegrey);
          color:@mauvegrey;
          @media only screen and (max-width: 800px) {
            .inset_box_shadow(0, 0, 0, 0);
          }
        }
      }
      &:hover,
      &:focus {
        > a {
          text-decoration:none;
          @media only screen and (max-width: 800px) {
            box-shadow:none !important;
          }
        }
      }
      &.has-icon {
        > a {
          [class^="icon-"], 
          [class*=" icon-"] {
            display:none;
          }
          &:hover,
          &:focus {
            box-shadow:none !important;
            background:#eaeaea !important;
          }
          @media only screen and (min-width:800px) {
            font-size:1.5em;
            padding:0.71em 0.6em;
            [class^="icon-"], 
            [class*=" icon-"] {
              display:inline-block;
            }
            span.label {display:none; }
          }
        }
        &.current-menu-item,
        &.current_page_item {
          > a {
            box-shadow:none !important;
            color:@mauvegrey !important;
          }
        }
      }
      &.right {
        @media only screen and (min-width: 800px) {
          float:right;
        }
        @media only screen and (min-width: 800px) and (max-width: 1130px) {
          margin-right:25px;
        }
      }
    }
  }
  .woocommerce-product-search {
    input[type="submit"] {
      background:rgba(0, 0, 0, 0) url("../../../../themes/peddlar/images/ico-search.png") no-repeat scroll center center / 16px 16px;
    }
  }
  @media only screen and (max-width: 800px) {
    padding:0;
  }
}


/* Content
-------------------------------------------------------------- */
#content {
  @media only screen and (max-width: 800px) {
    margin-top:4.236em;
  }
  // Entry
  .entry {
    ul, ol {
      margin-left:1.5em;
      li {
        margin-bottom:0.5em;
      }
    }
    strong {font-weight:400;}
  }
  // Sections Template
  &.tmpl-sections {
    #main {margin-bottom:0; }
    .page-section {
      display: inline;
      float: left;
      margin-left: 2.08333%;
      margin-right: 2.08333%;
      width: 95.8333%;
    }
  }
  // Photo Template
  &.tmpl-photo-page {
    #photo-gallery {
      .images {
        list-style:none;
        li {
          .image {
            display:inline-block;
            margin-bottom:1.618em;
            .zoom {
              float:left;
              img {
                width:auto;
                .border_radius(@borderradius);
              }
            }
          }
          .caption {
            display:inline-block;
            text-align:left;
            width:100%;
            color:@mauvelight;
          }
        }
      }
    }
    @media only screen and (min-width: 800px) {
      #photo-gallery {
        .column(4);
        .images {
          list-style:none;
          li {
            width:100%;
            .image {
              float:right;
              .zoom {
                float:right;
                max-width:250px;
              }
            }  
            .caption {
              text-align:right;
              width:60%;
            }
          }  
        }
      }
      #main {
        .column(8);
        &.no-gallery {
          .column(12);
        }
      }
    }
  }
}

/* Payment Logo's
-------------------------------------------------------------- */
.payment-methods {
  list-style:none;
  margin:0;
  margin-left:0 !important;
  display:inline-block;
  li {
    display:inline;
    float:left;
    margin:0 10px 10px 0;
    @media only screen and (min-width: 800px) {
      margin:0 10px 0 0;
    }
    img {
      height: 30px;
      width: auto;
      max-width: 75px;
      vertical-align: middle;
      .ie8 & {
        display:none;
      }
    }
  }
}


/* Slider
-------------------------------------------------------------- */
.home {
  .flexslider {
    margin-left:-1.618em;
    margin-right:-1.618em;
  	li.slide {
  		.slide-content {
    		left:auto;
    		top:10%;
    		width:50%;
    		margin-left:21px;
        margin-right:0;
        padding:0;
        @media only screen and (min-width: 800px) and (max-width: 1200px) {
          top:5%;
  				left:inherit;
  				width:67%;
        }
        @media only screen and (max-width: 800px) {
          top:0;
          margin:0;
          padding:20px 2.08333%;
          width:95.83334%;
          background-color:rgba(0, 0, 0, 1);
        }
    		header,
    		.entry {
      		background-color:rgba(0, 0, 0, 0.6);
      		margin:0;
      		h1, p {
        		color:white;
          }
          p {font-weight:400; }
      		@media only screen and (max-width: 800px) {
        		background:none;
          }
        }  
      }
  		.slide-featured {
  			position:absolute;
  			bottom:10px;
  			display:block;
  			right:0;
  			width:30%;
  			img {float:right; }
  		}
  	}
  	@media only screen and (max-width: 800px) {
	   .flex-direction-nav {
        a {
          top:25%;
        }
      }
    }    
  }	
}


/* Temporary hide Terrazzo
-------------------------------------------------------------- */
#product-131 {
  .single_variation {
    .price {
      display:none;
    }
  }  
}

/* Single Product
-------------------------------------------------------------- */
.single-product {
  .images {
    img {
      .border_radius(@borderradius);
    }
  }
  .thumbnails {
    &.columns-5 {
      a {
        margin-left:2%;
        margin-right:2%;
        width:15.133332%; // (100 - (2 * 4.16667) - (5 * (2 + 2)) / 5)
        &.first {margin-left:4.16667%; }
        &.last {margin-right:4.16667%; }
      }
    }
  }
  .product-summary {
    float:right;
    text-align:right;
    width:50%;
    margin:25px;
    @media only screen and (max-width: 800px) {
      float:none;
      width:100%;
      display:block;
      margin:25px 0;
      text-align:left;
    }
    p {
      font-size:0.875em;
    }
  }
  .summary {
    h1 {
      font-size:2.5em;
      line-height:1em;
      margin: 0 0 0.2em;
    }
    .price {
      font-size:1.5em;
    }
  }
  #variations_clear,
  .quantity {
    display:none !important;
  }
  table.variations-table {
    margin-top:1.618em;
    background:none;
    border:none;
    border-radius:0;
    font-size:0.8em;
    td, th {
      border-right:none;
      padding-left:0;
      &.label {
        font-weight:400;
        width:30%;
      }
      .swatch-label {display:none; }
    }  
    tbody {
      td {
        background:none;
        border-bottom:none;
      }
    }    
  }
  .single_variation_wrap {
    margin-top:0.5em;
    .price {
      display:inline-block;
      font-size:2.224em;
      color:@mauvegrey;
      margin-bottom:0.5em;
      .amount {
        float:left;
        font-size:1em; 
      }
      .woocommerce-price-suffix {
        float:right;
        margin-left:1em;
        font-size:0.5em;
        width:70%;
      }
    }
    .variations_button {
      margin-left:30%;
    }
    .single_add_to_cart_button {
      .border_radius(@borderradius * 2);
      border:@borderradius solid @mauvelight;
      background:@grey !important;
      padding:0.6em 1.2em;
      &:hover,
      &:focus {
        background:@mauvelight !important;
      }
    }
  }
  table.shop_attributes {
    background:none;
    border:none;
    .border_radius(0);
    tbody {
      td, th {
        border:none;
        padding:0.4em 1.416em 0.4em 0;
        background:none;
      }
      th {
        font-weight:400;
      }
    }
  }
  .woocommerce-tabs {
    table.shop_attributes {
      margin:0;
      &:not(:last-child) {border-bottom:0; }
    }  
  }
  .product_meta {
    display:none;
  }
}
// Variations
div.swatch-wrapper {
  position:relative;
  background:none;
  border:none;
  margin:0 10px 5px 0;
  padding:25px 0 0 0;
  &:last-child {margin-right:0; }
  .swatch-label {
    display:block !important;
    position:absolute;
    top:0;
    left:0;
  }
  .swatch-anchor {
    margin:@borderradius - 1;
    border:1px solid @mauvegrey;
    .border_radius(@borderradius);
    img {
      .border_radius(@borderradius - 1);
      &:hover {.opacity(1); }
    }
    &:hover {
      margin:0;
      .border_radius(@borderradius * 2);
      border:@borderradius solid @mauvegrey;
      background:@mauvelight;
      img {
        .border_radius(@borderradius - 1);
      }
    }
  }
  .swatch-desc-tooltip {
    position:absolute;
    left:100%;
    top:50%;
    margin-left:10px;
    cursor:pointer;
    &:before {
      .iconbefore;
      content: '\f05a';
      font-size:1.5em;
    }
    .tool-tip {
      position:absolute;
      top:-50%;
      left:25px;
      width:180px;
      z-index:1001;
      p {
        background:white;
        .border_radius(@borderradius);
        border:1px solid @mauvelight;
        margin:0; 
        padding:5px;
      }
    }
  }
  &.selected {
    border:none;
    padding:25px 0 0 0;
    .swatch-label {font-weight:400; }
    .swatch-anchor {
      margin:0;
      .border_radius(@borderradius * 2);
      border:@borderradius solid @mauvegrey;
      background:@mauvelight;
      img {
        .border_radius(@borderradius - 1);
      }
    }
  }
}

.widget_woodojo_tabs ul.nav-tabs, 
.woocommerce_tabs ul.nav-tabs, 
.woocommerce-tabs ul.nav-tabs, 
.widget_woodojo_tabs ul.tabs, 
.woocommerce_tabs ul.tabs, 
.woocommerce-tabs ul.tabs {
  box-sizing:border-box;
  border-bottom:1px solid @mauvegrey;
  &::after,
  &::before {
    box-sizing:border-box;
  }
  > li {
    margin-bottom:-1px;
    > a {
      background:transparent;
      border-color:@mauvelight @mauvelight transparent;
      border-style:solid;
      border-width:1px;
      .border_radius_top(@borderradius);
      color:@mauvelight;
      font-weight:400;
      &:hover {
        color:@mauvegrey;
        border-bottom:1px solid @mauvegrey;
      }
    }
    &.active {
      > a {
        background:white;
        border-color:@mauvegrey @mauvegrey transparent;
        color:@mauvegrey;
        &:hover {
          border-color:@mauvegrey @mauvegrey transparent;
        }
        &:after {
          color:@mauvegrey;
          &:hover {color:@mauvelight; }
        }
      }
    }
    // Custom Tab
    &.package_contents_tab {
      a {
				text-indent:-9999em;
				position: relative;
				width:1em;
				&:after {
  				.icon();
          content:"\e603";
          font-size:1.1em;
					text-indent:0;
					display:block;
          position: absolute;
					top:50%;
					left:50%;
					height:1em;
					text-align: center;
					margin-left:-.5em;
					margin-top:-.5em;
				}
				@media only screen and (min-width: 800px) {
  				text-indent:0;
          position:relative;
          width:auto;
          &:after {
						display:none;
				  }
        }
			}
    }
  }  
}
.widget_woodojo_tabs .panel, 
.woocommerce_tabs .panel, 
.woocommerce-tabs .panel {
  box-sizing:border-box;
  .border_radius(0);
  border:1px solid @mauvegrey;
  border-top:0;
  background:none;
  font-weight:400;
  font-size:0.875em;
  p {
    &:last-child {
      margin-bottom:0;
    }
  }
  .content_more {
    margin-top:1.618em;
    display:none;
    p {
      &:last-child {
        margin-bottom:0;
      }
    }
  }
  .read-more {
    cursor:pointer;
  }
}


/* Single Post
-------------------------------------------------------------- */
.single {
  .post {
    p {
      &:first-child {
        color:@grey;
        font-size:1em;
      }
    }
  }  
}
#post-entries {
  a {
    &:hover,
    &:focus {
      color:@grey;
      text-decoration:none;
    }
  }
}



/* Sidebar
-------------------------------------------------------------- */
#sidebar {
  .widget {
    ul {
      li {
        a {
          &:hover,
          &:focus {
            text-decoration:none;
          }
        }
      }
    }
  }
}

/* Archives
-------------------------------------------------------------- */
.archive-header {
  border-bottom:none;
  margin: 0 0 1.618em;
  padding:0;
  .archive-rss {
    display:none;
  }
}


/* Footer
-------------------------------------------------------------- */
.footer-shop {
  margin-bottom:1.618em;
}  
#footer-widgets {
  padding:0;
  .widget {
    margin-bottom:1em;
    ul {
      list-style:none;
      margin:0;
      > li {
        > a {
          font-weight:400;
          &:hover,
          &:focus {
            text-decoration:none;
          }
        }
      }
    }
  }
  .widget_nav_menu {
    .menu {
      > li {
        &.current-menu-item,
        &.current_page_item {
          > a {
            //color:@mauvegrey !important;
          }
        }
      }
    }
  }
}
#footer {
  background-color:#FFF;
  padding:2em 1.618em 1em;
  .col-right {
    margin-top:20px;
    .labels {
      list-style:none;
      float:right;
      margin:0;
      li {
        display:inline;
        float:right;
        margin:0 10px 10px 0;
        img {
          height:30px;
          width:auto;
          .ie8 & {
            display:none;
          }
        }
      }
    }
    @media only screen and (min-width: 800px) {
      margin-top:0;
      .labels {
        li {margin:0 10px 0 0;}
      }
    }
  }
}