/* ==========================================================================
   Peddlar Theme Typography
   ========================================================================== */
   
body {
  font:300 1.6em/1.5em 'Source Sans Pro', arial, sans-serif;
  color:@grey; 
}
.nav {
  a {
    font:normal 1em/1.4em 'Source Sans Pro', arial, sans-serif;
    color:@grey;
  }
}
.page {
  header {
    h1 {
      font:normal 2em/1em 'Source Sans Pro', arial, sans-serif;
      color:@mauvegrey;
    }
  }
}
.type-page {
  header {
    h1 {font-weight:400; }
  }
}    
.post {
  header {
    h1 {
      font-weight:400;
      font:normal 1.5em/1em 'Source Sans Pro', arial, sans-serif;
      color:@mauvegrey;
      a {
        color:@mauvegrey !important;
        &:link,
        &:visited {
          font-weight:400;
          color:@mauvegrey;
        }
      }   
    }
  }
}
.post-meta {
  font:300 0.5em/1em 'Source Sans Pro', arial, sans-serif;
  color:@grey;
}
.entry {
  font:300 1em/1.5em 'Source Sans Pro', arial, sans-serif;
  color:@grey;
  p {font-size:1.03125em; }
} 
.widget {
  h3 {
    font:normal 1em/1em 'Source Sans Pro', arial, sans-serif;
    color:@mauvegrey; 
  }
}