/* ==========================================================================
   Plugins tweaks
   ========================================================================== */

/* MailChimp
-------------------------------------------------------------- */
#mc_embed_signup {
  form {
    display:block;
    padding:0;
    margin:0;
    input {
      float:left;
      height:44px;
      &.email {margin-right:5px; }
    }
  }  
}

/* PrettyPhoto
-------------------------------------------------------------- */
div.ppt {font-weight:400 !important; }
div.pp_woocommerce {
  .pp_arrow_previous,
  .pp_arrow_next {
    margin-top:0.25em;
  }
}