/* ==========================================================================
   WooCommerce Tweaks
   ========================================================================== */
     
.layout-full {
	.woocommerce-result-count,
	.woocommerce-ordering,
	.woocommerce_ordering {
		text-align:left !important;
	}
	&.post-type-archive-product {
		h1.page-title {
			text-align:left !important;
			font-size:2.291em !important;
			text-transform:none !important;
		}
	}
}

/* Product Archive
-------------------------------------------------------------- */
ul.products {
	li.product { 
		a {
			img {
				.border_radius(@borderradius);
				.box_shadow(0 1px 2px 1px rgba(0, 0, 0, 0.25));
				@media only screen and (max-width: 800px) {
  				margin-bottom:0 !important;
				}
			}
			&:hover,
			&:focus {
  			 text-decoration:none;
  			.product-details {
    			h3 {
      			@media only screen and (max-width:800px) {
      			  color:@mauvelight;
      			}  
      		}
  			}
  		}
		}
		.product-details {
  		.border_radius(@borderradius);
  		border:none !important;
  		h3 {font-size:1.2em !important; }
  		div[itemprop="description"]{
        display:none;
      }
  		.price {
    		font-weight:400 !important;
    		display:none;
      }
  		@media only screen and (max-width: 800px) {
				margin-top:15px;
				h3 {margin:0; }
			}
    }
    // Temporary show T'errazzo description
    &.post-131 {
      a {
        .product-details {
          div[itemprop="description"]{
        		display:inline;
      		}
        }
      }
    }
  }
  // Homepage
  .home .entry & {
    margin-bottom: 0;
    li.product {
      margin-bottom: 0;
      a {
        img {
          margin: 0 auto 0;
        }
      }
    }
  }
}

#header .cart-contents {
	color:@mauvegrey;
}   
.quantity .qty {
	background:@mauvegrey;
}
.woocommerce_message, 
.woocommerce_info, 
.woocommerce_error, 
.woocommerce-message, 
.woocommerce-info, 
.woocommerce-error {
  background:lighten(@mauvelight, 30%) !important;
  .button {
    padding:0.6em 1em !important;
    text-transform:capitalize;
    color:white !important;
  }  
}


/* Single Product
-------------------------------------------------------------- */
.single-product {
  .images {
    img {
      .border_radius(@borderradius);
    }
  }
  .thumbnails {
    &.columns-5 {
      a {
        margin-left:2%;
        margin-right:2%;
        width:15.133332%; // (100 - (2 * 4.16667) - (5 * (2 + 2)) / 5)
        &.first {margin-left:4.16667%; }
        &.last {margin-right:4.16667%; }
      }
    }
  }
  .product-summary {
    float:right;
    text-align:right;
    width:50%;
    margin:25px;
    @media only screen and (max-width: 800px) {
      float:none;
      width:100%;
      display:block;
      margin:25px 0;
      text-align:left;
    }
    p {
      font-size:0.875em;
    }
  }
  .summary {
    h1 {
      font-size:2.5em;
      line-height:1em;
      margin: 0 0 0.2em;
    }
    .price {
      font-size:1.5em;
    }
    table.variations {
      margin-top:1.618em;
      background:none;
      border:none;
      border-radius:0;
      font-size:0.8em;
      td {padding: inherit; }
      tr {
        display: inline-block;
        float: none;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        td, th {
          float: left;
          border-right:none;
          padding-left: 0;
          &.label {
            display: inline;
            font-weight:400;
            width: 30%;
          }
          &.value {
            width: 70%;
            .reset_variations {
              display: inline-block; 
              width: 100%;
              font-weight:400;
              &:before {
                margin-right: 0.25em;
              }
              &:hover,
              &:focus {
                text-decoration: none;
                color: @mauvegrey;
              }
            }
          }
          .swatch-label {display:none; }
        }
      }  
      tbody {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        td {
          background:none;
          border-bottom:none;
        }
      }    
    }
  }
  #variations_clear,
  .quantity {
    display:none !important;
  }
  .single_variation_wrap {
    margin-top:0.5em;
    .price {
      display:inline-block;
      font-size:2.224em;
      color:@mauvegrey;
      margin-bottom:0.5em;
      .amount {
        float:left;
        font-size:1em; 
      }
      .woocommerce-price-suffix {
        float:right;
        margin-left:1em;
        font-size:0.5em;
        width:70%;
      }
    }
    .variations_button {
      margin-left:30%;
    }
    .single_add_to_cart_button {
      .border_radius(@borderradius * 2);
      border:@borderradius solid @mauvelight;
      background:@grey !important;
      padding:0.6em 1.2em;
      &:hover,
      &:focus {
        background:@mauvelight !important;
      }
    }
  }
  table.shop_attributes {
    background:none;
    border:none;
    .border_radius(0);
    tbody {
      td, th {
        border:none;
        padding:0.4em 1.416em 0.4em 0;
        background:none;
      }
      th {
        font-weight:400;
      }
    }
  }
  .woocommerce-tabs {
    table.shop_attributes {
      margin:0;
      &:not(:last-child) {border-bottom:0; }
    }  
  }
  .product_meta {
    display:none;
  }
}
// Variations
div.swatch-wrapper {
  position:relative;
  background:none;
  border:none;
  margin:0 10px 5px 0;
  padding:25px 0 0 0;
  &:last-child {margin-right:0; }
  .swatch-label {
    display:block !important;
    position:absolute;
    top:0;
    left:0;
  }
  .swatch-anchor {
    margin:@borderradius - 1;
    border:1px solid @mauvegrey;
    .border_radius(@borderradius);
    img {
      .border_radius(@borderradius - 1);
      &:hover {.opacity(1); }
    }
    &:hover {
      margin:0;
      .border_radius(@borderradius * 2);
      border:@borderradius solid @mauvegrey;
      background:@mauvelight;
      img {
        .border_radius(@borderradius - 1);
      }
    }
  }
  .swatch-desc-tooltip {
    position:absolute;
    left:100%;
    top:50%;
    margin-left:10px;
    cursor:pointer;
    &:before {
      .iconbefore;
      content: '\f05a';
      font-size:1.5em;
    }
    .tool-tip {
      position:absolute;
      top:-50%;
      left:25px;
      width:180px;
      z-index:1001;
      p {
        background:white;
        .border_radius(@borderradius);
        border:1px solid @mauvelight;
        margin:0; 
        padding:5px;
      }
    }
  }
  &.selected {
    border:none;
    padding:25px 0 0 0;
    .swatch-label {font-weight:400; }
    .swatch-anchor {
      margin:0;
      .border_radius(@borderradius * 2);
      border:@borderradius solid @mauvegrey;
      background:@mauvelight;
      img {
        .border_radius(@borderradius - 1);
      }
    }
  }
}


/* Cart
-------------------------------------------------------------- */
table.shop_table,
table.cart {
  td.product-name {
    a {
      font-weight:400 !important;
      color:@grey !important;
    }
    dl.variation {
      font-style:normal !important;
      dt {
        margin-right: 0.4em !important;
        font-weight:400 !important;
      }
      dd {
        float:left;
        p {
          font:inherit;
        }
      }
    }
  }
  td.product-quantity {
    .quantity {
      .qty {
        background:@mauvelight;
        font-weight:400;
        padding:0.6em 0.8em;
      }
    }  
  }
  td.product-subtotal {
    font-weight:400;
  }
}

/* Payment
-------------------------------------------------------------- */
.form-row {
  label {font-weight:400; }
  .input-text {
    background-color:lighten(@lightgrey, 5%);
    font-weight:400 !important;
    color:@grey !important;
  }
  .select2-container {
    .select2-choice {
      font-weight:400 !important;
      > .select2-chosen {color:@grey; }
    }
  }  
  &.notes {
    textarea {max-width:100%; }
  }
  &.radio-field {
    input.input-radio,
    label.radio {
      display:inline;
      margin:0 0.5em 0 0
    }
    label.radio {
      &:not(:last-child) {margin:0 1em 0 0; }
    }
  }
}
#payment {
  .payment_methods {
    li {
      background-repeat:no-repeat;
      background-position:right 1em top 12px;
      background-size:auto 32px;
      // Following CSS3 technique: http://code.stephenmorley.org/html-and-css/styling-checkboxes-and-radio-buttons/
      input[type=radio]:not(old) {
        width:2em;
        margin:0;
        padding:0;
        font-size:1em;
        opacity:0;
        + label {
          display      : inline-block;
          margin-left  : -2em;
          line-height  : 2em;
          > span {
            display          : inline-block;
            width            : 1.3125em;
            height           : 1.3125em;
            margin           : 0.25em 0.5em 0.25em 0.25em;
            border           : 0.0625em solid rgb(192,192,192);
            border-radius    : 1em;
            .vertical_gradient(#F0F0F0, #E0E0E0);
            vertical-align   : bottom;
          }
        }
        // Checked
        &:checked {
          + label {
            > span {
              background       : rgb(153,204,102);
              .vertical_gradient(#77B8FC, #3697FD);
              > span {
                display          : block;
                width            : 0.75em;
                height           : 0.75em;
                margin           : 0.1875em;
                border           : 0.0625em solid rgb(115,153,77);
                border-radius    : 1em;
                .vertical_gradient(#E0E0E0, #F0F0F0);
              }
            }
          }
        }
      }
      label {
        font-weight:400;
        img {display:none; }
      }
      &.payment_method_paypal {background-image:url('../img/paypal_logo.svg'); }
      &.payment_method_idealcheckout_ideal {background-image:url('../img/ideal_logo.svg'); }
      &.payment_method_idealcheckout_visa {background-image:url('../img/visa_logo.svg'); }
      &.payment_method_idealcheckout_mistercash {background-image:url('../img/mistercash_logo.svg'); }
    }
  }
  .place-order {
    .button {font-size:1em; }
    .terms {
      margin:1em 0 1em 0;
      width:100%;
      font-size:1em;
      label {
        font-weight:300;
        padding:0;
        a {
          &:hover,
          &:focus {text-decoration:none; }
        }
      }
      .input-checkbox {
        float:left;
        margin:0.5em 1em 0 0;
      }
    }
  }  
}

.select2-results li {
  color:@grey;
  font-weight:400;
}


/* Order
-------------------------------------------------------------- */
ul.order_details {
  li {
    font-size:inherit;
    text-transform:none;
    strong {
      font-size:1em;
      font-weight:400;
    }
  }
}
.addresses {
  address, 
  dfn {
    font-style:normal;
  }
}


/* Account
-------------------------------------------------------------- */
.woocommerce-account {
  .entry {
    .myaccount_user {
      strong {font-weight:400; }
    }
    .logout {
      margin-bottom:25px;
    }
    .my_account_orders {
      td.order-number {
        a {
          color:@grey !important;
          font-weight:400;
        }
      }
    }
  }
}
header.title {
  a.edit {
    font-weight:normal;
  }
}
.woocommerce-account {
  .form-row {
    label[for="rememberme"] {
      display:inline;
      margin-left:1em;
      #rememberme {margin-right:0.25em; }
    }
  }
  .lost_password {
    font-size:0.9em !important;
    text-align:right;
    float:right;
    width:48%;
  }
}