/* ==========================================================================
   Wordpress Login Screen
   ========================================================================== */

/* Source Sans Pro */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
body.login {
	background-color:#FFF;
	color:#666666;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight:300;
}

/* Base */
#login {padding:8% 15px 0; }

/* Logo */
.login h1 {text-align:left; }
.login h1 a {
  background:url('../img/monum_logo.png') 0 0 no-repeat;
	background-size:270px 58px;
	height:58px;
	width:270px;
  margin:0 0 25px;
	color:#707070;
	font-size:50px;
	font-weight:400;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-transform:uppercase;
	text-shadow:none;
	text-decoration:none;
}
.login h1 a:hover,
.login h1 a:focus {
  -moz-opacity:.80;
	filter:alpha(opacity=80);
	opacity:.80;
	-webkit-transition:all 100ms ease;
	-moz-transition:all 100ms ease;
	transition:all 100ms ease;
}

/* Errors */ 
.login div.error, .login #login_error, .login .message {
	border:none;
	margin:0 0 20px 0;
	background-color:#C60F13;
	color:#FFF;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
.login div.updated, .login .message {
  background-color:#e6a755;
  color:#FFF;
  border:none;
}

/* Form */
.login form {
  margin-top:10px;
	box-shadow:none;
	padding:0 0 15px;
	font-weight:300;
}
.login #loginform label {font-size:14px; font-weight:400; }
.login #loginform .input,
.login input[type="text"] {
	margin:5px 0 15px 0;
  padding:0.875em 1em;
	background-color:#f7f7f7;
	background-clip:padding-box;
	border:none;
	border-radius:4px;
	box-shadow:none;
	font-size:13px;
	font-weight:300;
}
.login form .input, .login form input[type="checkbox"], .login input[type="text"] {background:#FFF; }
input[type="checkbox"], input[type="radio"] {
    height:16px;
    width:16px;
}
.login #loginform .forgetmenot label {font-size:13px; line-height:1; }

/* Button */
.login #loginform .forgetmenot, .login #loginform .submit {height:30px;}
.login.wp-core-ui .button.button-large, .login.wp-core-ui .button-group.button-large .button,
.login input.button-primary, .login button.button-primary, .login a.button-primary {
	display:inline-block;
	float:right;
	height:36px;
  line-height:1;
  margin:0;
  padding:0.875em 1em;
	border:none;
	background:#969696;
  color:#FFF;
  font-size:13px;
  font-family:"Source Sans Pro", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight:400;
  text-shadow:none;
  text-decoration:none;
	-webkit-appearance:none;
  -webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
  box-shadow:none;
  cursor:pointer;
}
.login.wp-core-ui .button.hover, 
.login.wp-core-ui .button:hover,  
.login.wp-core-ui .button.focus, 
.login.wp-core-ui .button:focus,
.login.wp-core-ui .button.active, 
.login.wp-core-ui .button.active:hover, 
.login.wp-core-ui .button.active:focus, 
.login.wp-core-ui .button:active,
.login.wp-core-ui .button-primary.hover, 
.login.wp-core-ui .button-primary:hover, 
.login.wp-core-ui .button-primary.focus, 
.login.wp-core-ui .button-primary:focus,
.login.wp-core-ui .button-primary.active, 
.login.wp-core-ui .button-primary.active:hover, 
.login.wp-core-ui .button-primary.active:focus, 
.login.wp-core-ui .button-primary:active,
.login.wp-core-ui .button-secondary:hover,
.login.wp-core-ui .button-secondary:focus,
.login.wp-core-ui .button-secondary:active {
	background:#707070;
	color:#FFF;
	box-shadow:none;
	text-shadow:none;
}

.login #login #nav, .login #login #backtoblog {
	display:inline;
	width:50%;
	margin:0;
	padding:0;
	font-family:"Source Sans Pro", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size:11px;
	text-shadow:none;
}
.login #login #backtoblog {display:none; }
.login #login #backtoblog a {float:right; text-align:right; }
.login #login #nav a, .login #login p#backtoblog a {color:#A3A3A3; }
.login #login #nav a:hover, .login #login p#backtoblog a:hover {color:#707070; }

.login .captchaSizeDivSmall {float:left;}
.login .si-captcha, #si_refresh_reg {float:left; margin:0 10px 10px 0;}

/* Interim */
.interim-login #login {margin:0 auto; }

/* Mobile */
.mobile #login {width:300px; padding:20px 0 0; }
.mobile #login h1 a {font-size:36px; }
.mobile #login .message, .mobile #login form, .mobile #login_error {margin-left:0; }
.mobile #login #backtoblog, .mobile #login #nav {margin-left:0; }